

.right {
    text-align: right;
    width: 100%;
  }
  
  .stack {
    padding-top: 20px;
    display:flex;
    flex-direction: column;
  }
  
  .stack span {
    font-weight: bold;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }

  .blinker {
    opacity: 1;
    margin-bottom: -2px;
    height: 15px;
    margin-left: -5px;
    border-left: 7px solid rgb(25, 241, 6);
    animation: blinker 0.9s steps(2, start) infinite;
  }
  
  @keyframes blinker {
    to { 
      visibility: hidden; 
    }
  }

  .play-button {
    background-color: rgb(0, 255, 0);
    width: 200px;
    height: 60px;
    font-size: 30px;
    margin-top: 60px;
    font-size: 40px;
    font-family: Alien Invader;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    opacity: 0; /* Initially hide the button */
}

.play-button.show {
    opacity: 1; /* Show the button */
    transition: opacity 0.5s ease; /* Smooth transition for showing */
}

.play-button:hover {
    background-color: rgb(0, 200, 0); /* Change color on hover */
}

.play-button:active {
    background-color: rgb(0, 150, 0); /* Change color on click */
}

.h4-header{
  font-family: Alien Invader;
  font-size: 18px;
  color: rgb(0, 255, 0);
}

.production-timeline-info{
  color: white;
}

.production-timeline-subtitle{
  color: white;
  font-style: italic;
}

.production-info{
  font-size: 36px; font-family: Alien Invader; color: rgb(243, 241, 114);

}

.body-software {
  font-family: Arial, sans-serif;
  background-color: #7bff00;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-software {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

h1 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.card-grid-software {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 40px;
}

.card-software {
  background-color: #242424;
  border-radius: 20px;
  box-shadow: 0 0px 20px rgba(0, 255, 0, 1.0);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0px;
  padding-right: 10px;
}

.card-software img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 30px;
}

.card-content-software {
  padding: 10px;
}

.card-content-software h2 {
  margin: 0;
  padding-top: 1em;
  font-size: 26px;
  font-family: Alien Invader;
  color: rgb(255, 255, 255);
}

.card-content-software p {
  margin-top: 10px;
  color: #ffffff;
}

.wide-fullcontainer {
  background-color: #242424;
  border-radius: 10px;
  display: flex;
  align-items: start;
  padding: 40px;
  box-shadow: 0 0px 20px rgba(0, 255, 0, 1.0);
  max-width: 1400px;
  width: 100%;
  margin: 20px;
}

.wide-content {
  flex: 1;
}

.wide-content h1 {
  font-size: 48px;
  color: #15ff00; /* Brown color */
  font-family: Alien Invader;
  margin-bottom: 20px;
  text-align: left;
}

.wide-content p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.6;
  text-align: left;
}

.wide-image {
  flex: 1;
  display: flex;
  padding-left: 2em;
  justify-content: center;
}

.wide-image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teams-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.teams-section {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
}

.teams-card {
  background-color: rgb(46, 46, 46);
  border-radius: 20px;
  box-shadow: 0 0px 20px rgba(0, 255, 0, 1.0);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.teams-flip .teams-card {
  flex-direction: row-reverse;
}

.teams-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.teams-image {
  border-radius: 10%;
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.teams-content {
  flex: 1;
  padding: 20px;
}

.teams-title {
  font-size: 32px;
  color: #00fa36;
  font-family: Alien Invader;
  margin-bottom: 10px;
}

.teams-description {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 20px;
}

.teams-button {
  padding: 10px 20px;
  background-color: #0f6107;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.teams-button:hover {
  background-color: #756611;
}

/* Adjustments to ensure consistent sizing */
.teams-section:not(.teams-flip) .teams-card {
  margin: 0 10px;
  padding: 0 10px;
  margin-bottom: 4em;
}

.teams-section.teams-flip .teams-card {
  margin: 0 10px;
  padding: 0 10px;
  margin-bottom: 4em;
}

/* Members */
.team-member-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 120px;
  overflow: hidden;
}

.team-member {
  background-color: rgb(36, 36, 36);
  border-radius: 8px;
  box-shadow: 0 0px 20px rgba(0, 255, 0, 1.0);
  width: 280px;
  margin: 50px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.member-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.member-name {
  font-size: 32px;
  color: #ffffff;
  margin: 10px 0;
  font-family: Alien Invader;
}

.member-role {
  background-color: #eee094;
  color: rgb(0, 0, 0);
  padding: 5px 20px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.member-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.link-icon {
  color: #3cff00;
  font-size: 42px;
  text-decoration: none;
  padding: 10px
}

.link-icon:hover {
  color: #928a15;
}
